<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>SocketTest</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript" src="/js-cookie/js-cookie.js"></script>
    <script type ="text/javascript">
      var startup = function () {
        // this triggers the connection event in our server!
        $("#responseArea").hide();
        var socket = io.connect();
        // we'll write all the socket stuff after the above line!
        $('button[name="emit"]').click(function (){
          socket.emit("emit_back", { name : "emit" });
          console.log(socket);
        });
        $('button[name="broadcast"]').click(function (){
          socket.emit("broadcast", { name : "broadcast" });
        });
        $('button[name="full_broadcast"]').click(function (){
          socket.emit("full_broadcast", { name : "full_broadcast" });
        });
        socket.on('print_data', function (data){
          console.log(data);
          $("#responseArea span").text(data.response);
          $("#responseArea").show();
        });
      };
    </script>
  </head>
  <body onload="startup()">
    <p id="responseArea">Server response: <span></span></p>
    <button type="button" name="emit">Emit</button>
    <button type="button" name="broadcast">Broadcast</button>
    <button type="button" name="full_broadcast">Full Broadcast</button>
  </body>
</html>
